<!--  File Name: activetourney.ejs
      Author: Web Wiz
      Group Number: 6
      Date: July 13, 2021
-->
<!--  File Name: activetourney.ejs
      Author: Web Wiz
      Group Number: 6
      Date: July 13, 2021
-->
<!--  File Name: activetourney.ejs
      Author: Web Wiz
      Group Number: 6
      Date: July 13, 2021
-->
<div class="jumbotron">
<h1 class="display-4 d-flex justify-content-center" style="font-family: Roboto, sans-serif;">Current Active Tournaments</h1>
</div>
<div class="container justify-content-center" style="width:1000px; margin: auto;">
      <table class="table-bordered table-striped table-hover">
            <div>
                  <tr class="">
                        <!--edit below-->
                        <th style="width:500px; margin: auto;" class="text-center">Tourney Name</th>
                        <th style="width:500px; margin: auto;" class="text-center">Competitors</th>
                        <th style="width:500px; margin: auto;" class="text-center">Date</th>
                        <th style="width:500px; margin: auto;" class="text-center">Winner</th>
                        <th style="width:500px; margin: auto;" class="text-center">Status</th>
                        <th style="width:500px; margin: auto;" class="text-center">Type</th>
                        <th></th>        
                                         
                  </tr>
                  <tr>
                        <td class="">Tournament Name #1</td>
                        <td class="">Competitors #1</td>
                        <td class="">Date #1</td>
                        <td class="">Winner #1</td>
                        <td class="">Status #1</td>
                        <td class="">Type #1</td>
                        <td style="width:500px; margin: auto;" class="text-center">
                              <a href="/viewtourney" class="btn btn-primary">
                                    <i class="fas fa-binoculars"></i> View </a>
                        </td>  
                  </tr>
                  <tr>
                        <td class="">Tournament Name #2</td>
                        <td class="">Competitors #2</td>
                        <td class="">Date #2</td>
                        <td class="">Winner #2</td>
                        <td class="">Status #2</td>
                        <td class="">Type #2</td>
                        <td style="width:500px; margin: auto;" class="text-center">
                              <a href="/viewtourney" class="btn btn-primary">
                                    <i class="fas fa-binoculars"></i> View </a>
                        </td>  
                  </tr>
                  <tr>
                        <td class="">Tournament Name #3</td>
                        <td class="">Competitors #3</td>
                        <td class="">Date #3</td>
                        <td class="">Winner #3</td>
                        <td class="">Status #3</td>
                        <td class="">Type #3</td>
                        <td style="width:500px; margin: auto;" class="text-center">
                              <a href="/viewtourney" class="btn btn-primary">
                                    <i class="fas fa-binoculars"></i> View </a>
                        </td>  
                  </tr>                        
            </div>
      </table>
</div>